<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .popular {
            color:green;
            font-weight: 700;
        }
    </style>
    <title>Shopapp</title>
</head>
<body>

    @await Html.PartialAsync("_navbar")
    
    <main class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" integrity="sha512-99Jv9bnC6+yuTTtEXE6/KsSP9gND0QcWr67ruFLD1SFjuByhA8W7VY3OIqco8KToCVt98CAFoEPXcrsebU5mow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    @RenderSection("Scripts",false)

    <footer class="py-5 bg-dark text-white text-center">
        Shop App | 2025 
    </footer>
</body>
</html>